<head>
    <meta charset="UTF-8">
    <title>lender portal</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>

<body class="{{themePreference}}">
    <header class="header" id="header">  
        <a href="/landing">Home</a>  
        <a href="/tools">Search</a>
        <a href="/users">Profile</a> 
        <a href="/lenderportalpage">Manage</a>
    </header>
        <h1>Manage tools</h2>


<h3 id="lenderh3"><a href="/toolsregister">add new tool</a></h3>

{{#if tools.length}}
        {{#each tools}}
            <li id="lenderlist">
                <img src="/public/uploads/{{this.image}}" alt="Image of {{this.toolName}}" style="width:250px; height:250px;">
                <p id="lendernames">{{this.toolName}} <a href="/toolsedit/{{this._id}}">edit</a> <a href="/toolsdelete/{{this._id}}">delete</a></p>
                
            </li>
        {{/each}}
{{else}}
    <p>No tools found.</p>
{{/if}}
</body>