            {{!-- res.render('toolbyid', {themePreference: 'dark', tool: tool}); --}}
            
<head>
    <meta charset="UTF-8">
    <title>CTLS</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>

<body>
            <h1>{{tool.toolName}}</h1>
            <p>Description: {{tool.description}}</p>
            <p>Condition: {{tool.condition}}</p>
            <p>Availability:</p>
            <p>Start Date: {{start}}</p>
            <p>End Date: {{end}}</p>
            <p>Location: {{tool.location}}</p>
            {{!-- <p>Images: <img src="{{tool.images}}" alt="{{tool.toolName}} image"></p> --}}
            {{#if hasErrors}}
                <div class="error">{{error}}</div>
            {{/if}}
            <form id="tool_request" name="tool_request" method="POST">
                <input type="hidden" id="form_type" name="form_type" value="tool_request">
                <label for="req_username">Your Username:</label>
                <input type="text" id="req_username" name="req_username">
                <input type="hidden" id="lender_id" name="lender_id" value={{tool.userID}}>
                <input type="hidden" id="tool_id" name="tool_id" value={{tool._id}}>
                <label for="start_date">Start Date:</label>
                <input type="date" id="start_date" name="start_date" min={{start}} max={{end}}>
                <label for="end_date">End Date:</label>
                <input type="date" id="end_date" name="end_date" min={{start}} max={{end}}>
                <br>
                <input type="submit" value="Send Request">
            </form>
            {{#if reqSuccess}}
                <p>Request successfully sent!</p>
            {{/if}}
            <form id="add_wishlist" name="add_wishlist" method="POST">
                <input type="hidden" id="form_type" name="form_type" value="add_wishlist">
                <input type="hidden" id="tool_id" name="tool_id" value={{tool._id}}>
                <label for="user">Username:</label>
                <input type="text" id="user" name="user">
                <input type="submit" value="Add to Wishlist">
            </form>
            {{#if wishlistSuccess}}
                <p>Tool added to wishlist!</p>
            {{/if}}
            <a href="javascript:history.back()">Back</a>
            <script src="../public/js/client_side_validation.js"></script>
</body>
