{{!--

If the user is logged in , and 'GET /user' endpoint is called, you will render this view based on the specs.

--}}

<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body class="{{themePreference}}">
    <div id="userView">
    <p id="welcome">Welcome {{firstName}} {{lastName}}, the time is now: {{currentTime}}. Your role in the system is: {{role}}.</p>
    <p id="quote">Favorite Quote: {{favoriteQuote}}</p>
    <!-- link here for admin, ONLY if they are an admin user <a id="adminLink" href="/admin">Admin Page</a> !-->
    {{#if adminCheck}}
        <a id="adminLink" href="/admin">Admin Page</a>
    {{/if}}
    <a id="logoutLink" href="/logout">Logout</a>
    </div>
            <script src="../public/js/client_side_validation.js"></script>
</body>
