{{!--

If the user is logged in , and 'GET /user' endpoint is called, you will render this view based on the specs.

--}}

<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body class="{{themePreference}}">
    <header class="header" id="header">  
        <a href="/landing">Home</a>  
        <a href="/tools">Search</a>
        <a href="/users">Profile</a> 
        <a href="/toolsregister">Manage</a>
    </header>
    <div id="userView">
    <p id="welcome">Welcome {{this.firstName}} {{this.lastName}}!</p>
    <p>Username: {{username}}</p>
    <p>Pronouns: {{pronouns}}</p>
    <p>Bio: {{bio}}</p>
    <p>Location: {{userLocation}}</p>

    <a id="logoutLink" href="/logout">Logout</a>
    </div>
            <script src="../public/js/client_side_validation.js"></script>
</body>
